@model HW_4.Models.Home.SignupViewModel;
@{
    ViewData["Title"] = "Registration";
}

@functions {
    public string ValidStyleInput(String? error)
    {
        if (Model.FormStatus == null || Model.FormStatus == true)
        {
            return "";
        }

        return (error == null) ? "is-valid" : "is-invalid";

    }
}


<form asp-action="SigupForm" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row g-3 justify-content-center">
            <div class="col-md-5 mainBorder py-3">
                <div class="row g-3 justify-content-center mb-3">
                    <h3 class="col-md-10 text-center">Registration form</h3>
                </div>
                  
                <div class="row g-3 justify-content-center mb-3">
                    <div class="input-group">
                        <span class="input-group-text"
                              id="fullname-signin"><i class="bi bi-person-vcard"></i></span>
                        <input type="text" class="form-control @ValidStyleInput(@Model.FormValidation?.FullnameErrorMessage)"
                               name="signup-fullname"
                               placeholder="Fullname" aria-label="Fullname" 
                               value=@Model.FormModel?.Fullname>
                        <div id="validationDivName" class="invalid-feedback">
                            @Model.FormValidation?.FullnameErrorMessage
                        </div>
                    </div>
                </div>
                <div class="row g-3 justify-content-center mb-3">
                    <div class="input-group">
                        <span class="input-group-text"
                              id="email-signin"><i class="bi bi-envelope-at"></i></span>
                        <input type="text" class="form-control @ValidStyleInput(@Model.FormValidation?.EmailErrorMessage)"
                               name="signup-email"
                               placeholder="Email" aria-label="Email"
                               value=@Model.FormModel?.Email>
                        <div id="validationDivName" class="invalid-feedback">
                            @Model.FormValidation?.EmailErrorMessage
                        </div>
                    </div>
                </div>
                <div class="row g-3 justify-content-center mb-4">
                    <div class="input-group">
                        <span class="input-group-text"
                              id="phone-signin"><i class="bi bi-telephone"></i></span>
                        <input type="text" class="form-control @ValidStyleInput(@Model.FormValidation?.PhoneErrorMessage)"
                               name="signup-phone"
                               placeholder="Phone" aria-label="Phone"
                               value=@Model.FormModel?.Phone>
                        <div id="validationDivName" class="invalid-feedback">
                            @Model.FormValidation?.PhoneErrorMessage
                        </div>
                    </div>
                </div>
                <div class="row g-3 justify-content-center mb-3">
                    <div class="input-group">
                        <span class="input-group-text"
                              id="login-signin"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control @ValidStyleInput(@Model.FormValidation?.LoginErrorMessage)"
                               name="signup-login"
                               placeholder="Login" aria-label="Login"
                               value=@Model.FormModel?.Login>
                        <div id="validationDivName" class="invalid-feedback">
                            @Model.FormValidation?.LoginErrorMessage
                        </div>
                    </div>
                 
                </div>
                <div class="row g-3 justify-content-center mb-3">
                    <div class="input-group">
                        <span class="input-group-text"
                              id="password-signin"><i class="bi bi-lock-fill"></i></span>
                        <input type="text" class="form-control @ValidStyleInput(@Model.FormValidation?.PasswordErrorMessage)"
                               name="signup-password"
                               placeholder="Password" aria-label="Password"
                               value=@Model.FormModel?.Password>
                        <div id="validationDivName" class="invalid-feedback">
                            @Model.FormValidation?.PasswordErrorMessage
                        </div>
                    </div>
                  
                </div>
                <div class="row g-3 justify-content-center mb-3">
                    <div class="input-group">
                        <span class="input-group-text"
                              id="repeat-signin"><i class="bi bi-lock"></i></span>
                        <input type="text" class="form-control @ValidStyleInput(@Model.FormValidation?.RepeatErrorMessage)"
                               name="signup-repeat"
                               placeholder="Repeat" aria-label="Repeat"
                               value=@Model.FormModel?.Repeat>
                        <div id="validationDivName" class="invalid-feedback">
                            @Model.FormValidation?.RepeatErrorMessage
                        </div>
                    </div>
                 
                </div>
                <div class="row g-3 justify-content-center mb-3">
                    <div class="input-group mb-3">
                        <label class="input-group-text" 
                        for="avatar-input">
                        <i class="bi bi-person-square"></i></label>
                        <input type="file" class="form-control @ValidStyleInput(@Model.FormValidation?.AvatarErrorMessage)"
                               id="avatar-input"
                        name="signup-avatar"
                        placeholder="Avatar" aria-label="Avatar">
                        <div id="validationDivName" class="invalid-feedback">
                            @Model.FormValidation?.AvatarErrorMessage
                        </div>
                    </div>
                    
                </div>
                <div class="row g-3 justify-content-center">
                    <div class="col-md-2">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@if(Model.FormStatus == true)
{
    <div class="alert alert-info" role="alert">
        Registration success!
    </div>

} 

